body {
  background-image: url("background3.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(230, 230, 230);
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: 1400px 800px;
  color: rgb(40, 40, 40);
  display: block;
}
.content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: 900px;
  position: absolute;
  margin: auto;
  top: 150px;
  bottom: 0;
  right: 0;
  left: 0;
  animation: slideIn 3s forwards;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes slideIn {
  from {
    margin-top: -1300px; opacity: 0.7;
  }
  to {
    margin-top: 0px; opacity: 1;
  }
}
.title {
  color: blue;
  text-align: center;
  text-shadow: 2px 2px black;
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 7s;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
h2 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px blue;
}
.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.gif-button {
  float: right;
  width: 50px;
}
.card-img1 {
  float: right;
  width: 200px;
}

.card-img2 {
  float: right;
  width: 200px;
}

.vs {
  z-index: -1;
  animation: vs 5s forwards;
  animation-delay: 1s;
  opacity: 0;
}
@keyframes vs {
  0% {  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  }
  99% {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    }
  100% {
    margin-top: -1000px;
    opacity: 0;}
}
.minhal {
  text-shadow: 2px 2px blue;
  position: absolute;
  margin-top: 0;
  margin-left: 2000px;
  opacity: 0;
  animation: minhal 6.5s forwards;
}
@keyframes minhal {
  0% {
  position: absolute;
  margin-top: 0;
  margin-left: 2000px;
  opacity: 1;
  }
  99% {
  position: absolute;
  margin-top: 0;
  margin-left: 1200px;
  opacity: 1;
  }
  100% {
  position: absolute;
  margin-top: 0;
  margin-left: 1200px;
  opacity: 0;
  }
}
.rachel {
  text-shadow: 2px 2px blue;
  position: absolute;
  margin-top: 0;
  margin-left: 300px;
  opacity: 0;
  animation: rachel 6.5s forwards;
}
@keyframes rachel {
  0% {
  position: absolute;
  margin-top: 0;
  margin-left: -500px;
  opacity: 1;
  }
  99% {
  position: absolute;
  margin-top: 0;
  margin-left: 130px;
  opacity: 1;
  }
  100% {
  position: absolute;
  margin-top: 0;
  margin-left: 130px;
  opacity: 0;
  }
}
